body{
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
:root {
  --grid-cols: auto;
  --grid-rows: auto;
}
nav {
  min-width: 80%;
  min-height: 5rem;
  background-color: lightgray;
  color: rgb(246, 248, 250);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer {
    width: 100%;
    background-color: #1f2937;
    font-size: 12px;
    color: #e5e7eb;
    width: 80%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    border: 1px solid #1f2937;
    background-color: #1f2937;
    border-radius: 10px;
    color: #e5e7eb;
}
nav h1 {
  padding-left: 8px;
}
nav img {
  width: 100px;
}
.container {
  width:400px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: white;
  margin: 10px;
}
.board {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.winner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 260px;
  position: absolute;
  transition: 300ms;
  z-index: 1;
  visibility: hidden;  /* visible */ 
  backdrop-filter: blur(2px);
  font-size: 60px;
  font-weight: bolder;
  color: rgb(54, 47, 4);
}
.board1 {            /* board style */
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(var(--grid-rows), auto);
  grid-template-columns: repeat(var(--grid-cols), auto);
  width: 100%;
  box-shadow: rgba(166, 158, 158, 0.35) 0px 5px 15px;
  position: relative;
  /* z-index: -1; */
  cursor: none;
}
.grid-item { 
  width: 100px;
  height: 80px; 
  border: 1px solid gray;
  cursor: pointer;
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight: bolder;
}
.controls{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
.gamer{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 120px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  transition: 100ms;
}
.x {
  border-radius: 8px 0px 0px 8px;;
}
.o {
  border-radius: 0px 8px 8px 0px;;
}
.restart{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 120px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 8px;
  background-color: white;
  margin: 5px;
  transition: 100ms;
}
.ai {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: lightcoral;
  margin: 5px;
  transition: 100ms;
}  
.ai:hover, 
.restart:hover, 
.gamer:hover, 
.grid-item:hover {
  background-color: rgb(230, 230, 206);
  scale: 1.05;
}
@media screen and (max-width: 600px){
  nav {
    width: 100%;
  }
  footer {
      width: 100%;
  }
}